
.DS_Store

.idea/

proto-2/build/b.png

proto-2/build/Background.png

proto-2/build/thing 1.png

proto-2/build/~$events.xlsx

proto-2/build/~$interventions.xlsx

proto-2/build/~$personas.xlsx

proto-2/build/~$game.xlsx
